:root {
    --misrose: #fae3e3;
    --Desisl: #F7D4BC;
    --pinlav: #CFA5B4;
    --afrvio: #C98BB9;
    --chinvio: #846B8A;
    --black: #000;
    --hondew: #EFF8E2;
    --timwol: #CECFC7;
    --rosqua: #ADA8B6;
    --rusvio: #23022e;
    --tekhelet: #573280;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
  }
  
  main {
    height: 80vh; 
    background-color: var(--rusvio);
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--rosqua);
  }
  
  #root {
    min-width: 100%;
    margin: 0;
    text-align: center;
  }
  